
@model List<IdentityRole>
@{
	ViewData["Title"] = "Role Manager";

}
<h1>Role Manager</h1>

<partial name="_AddRoleForm" model="new RoleViewModel()"/>

<table class="table table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Role</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var role in Model)
		{
			<tr>
				<td>@role.Id</td>
				<td>@role.Name</td>
				<td>
					<a class="btn btn-primary" asp-action="RemoveRole" asp-route-Id="@role.Id">Remove</a>
				</td>
			</tr>
		}
	</tbody>
</table>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}